---
import { menuLinks, siteConfig } from "@/site-config";

const year = new Date().getFullYear();
const baseUrl = import.meta.env.BASE_URL || Astro.site?.toString() || "";
---

<footer
	class="font-regular mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top text-xs text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between"
>
	<div class="me-0 sm:me-4">
		&copy; {siteConfig.author}
		{year}.<span class="inline-block">&nbsp;Hva sier reven? </span>
	</div>
	<nav
		aria-label="Mer på dette nettstedet"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		{
			menuLinks.map((link) => (
				<a
					class="px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
					href={`${baseUrl}${link.path}`}
				>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
